<div class="row cproduct-main">
    <div class="content-main">
        <div class="pic-content col-md-5 col-sm-6">
            <div class="box-c-info"><img src="/Content/images/products/2.jpg" alt="Product Title"></div>
        </div>
        <div class="text-content col-md-7 col-sm-6">
            <div class="box-c-info mr">
                <h3>Các nguồn giúp điều hướng đơn giản</h3>
                <p>Chính xác là WING có rất nhiều đầu vào và đầu ra I / O - 374. Và nếu bạn bao gồm các tín hiệu bên trong của nó, WING bao gồm 400 đầu vào và đầu ra. Đối mặt với quá nhiều I / O này, nhóm kỹ sư của Behringer đã hình dung lại luồng của một máy trộn truyền thống, đặt trọng tâm vào âm thanh nguồn của bạn, sử dụng những gì Behringer gọi - khá phù hợp - Nguồn. Trong WING, đầu vào nhiều hơn so với đầu vào lịch sử, bởi vì chúng chứa siêu dữ liệu về Nguồn là gì - thẻ, biểu tượng đầu vào, màu đầu vào, độ lợi, công suất ảo và nếu Nguồn là đơn âm, âm thanh nổi hoặc âm trung. Tất cả thông tin đó theo Nguồn đến bất kỳ kênh nào. Với một nút đơn giản, thông tin đó có thể được sao chép vào kênh và các thẻ, biểu tượng, màu sắc và siêu dữ liệu khác sẽ hiển thị trên kênh ngay lập tức. </p>
                <p>Việc thực hiện cũng được suy nghĩ cẩn thận. Hãy đối mặt với vấn đề này, việc gắn nhãn và sắp xếp đạt được 374 Nguồn có thể mất một chút thời gian. Khối lượng công việc có thể được phân chia dễ dàng giữa hai người vì WING đã sẵn sàng cho các nhà khai thác kép. Một người có thể chịu trách nhiệm gắn nhãn các kênh, bao gồm tên, biểu tượng, màu sắc, thẻ, nhiều nhóm tắt tiếng, cấu hình mono / stereo / mid-side, v.v. Sử dụng khu vực 4 kênh của WING như một khu vực làm việc riêng biệt, người thứ hai có thể chịu trách nhiệm dàn dựng độ lợi và xác định công suất ảo cho mỗi nguồn. Để giúp mọi thứ trở nên dễ dàng hơn, điều này cũng có thể được thực hiện từ ứng dụng máy tính bảng WING Co-Pilot để gắn nhãn hoặc đặt bất kỳ thông số nào trong khi vá từ giai đoạn. </p>
            </div>
        </div>
    </div>
</div><!-- end -->
