.error-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    color: rgb(22,22,22);
}

    .error-container h1 {
        display: inline-block;
        color: #d9d9d9;
        font-size: 80px;
        margin: 0;
    }

    .error-container h2 {
        color: #9f9f9f;
        text-transform: uppercase;
        line-height: 100%;
        margin: 0;
    }

    .error-container p {
        font-size: 12px;
        line-height: 150%;
        color: #9f9f9f;
    }

    .error-container .error-btn {
        text-decoration: none;
        display: inline-block;
        color: #FFF;
        background: #9f9f9f;
        padding: 5px 10px;
        font-size: 12px;
    }

    .error-container .error-btn {
        text-decoration: none;
        display: inline-block;
        color: #FFF;
        background: #9f9f9f;
        padding: 5px 10px;
        font-size: 12px;
    }
