<div class="container">
    <div class="dok-news-block">
        <div class="dok-heading">
            <h1 class="mb-0 text-center">LIÊN HỆ VỚI CHÚNG TÔI</h1>
        </div>

        <div class="box-contact mb-3">
            <div class="row gx-5">
                <div class="col-lg-6 col-12 box-contact-detail mb-3 mb-lg-0">
                    <div class="">
                        <h3 class="fz-20 fw-bold mb-3 mb-lg-5">Thông tin liên hệ</h3>
                        <div class="ct-detail-desc">
                            <vsw-rs key="FeedbackInfo" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 pd-contact">
                    <div class="box-map-contact d-flex">
                        <vsw-rs key="Map" />
                    </div>
                </div>
            </div>
        </div>

        <div class="box-contact-hotline">
            <div class="dok-heading">
                <h2 class="mb-0 text-center">TỔNG ĐÀI VÀ HỖ TRỢ TRỰC TUYẾN</h2>
            </div>
            <div class="dok-hotline-slider dok-slider-box swiper">
                <div class="swiper-wrapper">
                    <vsw-rs key="Feedback" />
                </div>
                <div class="swiper-pagination position-static"></div>
            </div>
        </div>
    </div>
</div>
